div.body h1 { margin-top: 0; padding-top: 0; font-size: 240%; }
div.body h2 { font-size: 180%; }
div.body h3 { font-size: 135%; }
div.body h4 { font-size: 110%; }
div.body h5 { font-size: 90%; }
div.body h6 { font-size: 80%; }

/*p.rubric { font-size: 60%; }*/
