#!/usr/bin/env python
# -*- coding: utf-8 -*-
#
# @Filename: test_{{package_name}}.py
# @License: BSD 3-clause (http://www.opensource.org/licenses/BSD-3-Clause)

from __future__ import annotations


def test_{{package_name}}():
    """Basic test for {{package_name}} package."""

    import {{package_name}}

    assert {{package_name}}.__version__ is not None
