
{{ project_name }}
{{ '=' * project_name|length }}

This is the documentation for the ``{{ package_name }}`` Python package.

Contents
--------

.. toctree::
  :maxdepth: 2

  Changelog <changelog>


Links
-----

* `Repository <https://github.com/{{ github_organization }}/{{ project_name }}>`__
* `Issue tracking <https://github.com/{{github_organization}}/{{ project_name }}/issues>`__


Indices and tables
------------------

* :ref:`genindex`
* :ref:`modindex`
