name: Docker

on:
  push:
    branches:
      - main
    tags:
      - '*'
    paths-ignore:
      - 'docs/**'
      - 'CHANGELOG.md'
      - 'README.md'
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - 'CHANGELOG.md'
      - 'README.md'
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  docker:
    name: Docker

    runs-on: ubuntu-24.04

    env:
      USER: {{ github_organization }}
      APP: {{ project_name }}

    steps:
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v6
        with:
          images: |
            ghcr.io/{{ '${{ env.USER }}/${{ env.APP }}' }}
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{ '{{version}}' }}
            type=semver,pattern={{ '{{major}}.{{minor}}' }}
            type=semver,pattern={{ '{{major}}' }}
            type=sha
            type=raw,value=latest,enable={{ '{{is_default_branch}}' }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v4

      - name: Log in to registry
        run: echo {{ '"${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin' }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v7
        with:
          provenance: false
          push: {{ '${{ github.event_name != \'pull_request\' }}' }}
          tags: {{ '${{ steps.meta.outputs.tags }}' }}
          labels: {{ '${{ steps.meta.outputs.labels }}' }}

      - name: Image digest
        run: echo {{ '${{ steps.docker_build.outputs.digest }}' }}
